*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #F5F7FB;
}
.main-container{
    height: 45rem;
    width: 22rem;
    background-color: white;
    margin-top: 3%;
    margin-left:40%;
    box-shadow: 0px 0px 10px 2px rgb(200, 227, 227);
}
.box{
    display: flex;
}
i{
    color: #B6B6B6;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}
pre{
    color: rgb(195, 190, 190);
    margin-left: 20%;
    margin-top: 8%;
    font-size: 13px;
}
#icon{
    margin-left: 25%;
}
h2{
    font-size: 15px;
    margin-left: 16%;
}
.pre{
    margin-left: 33%; 
    margin-top: 10px;
    font-size: 13px;
}
img{
    height: 23%;
    width: 75%;
    margin-left: 40px;
    margin-top: 30px;
}
hr{
    border: 2px solid #E7E7E7;
    margin-top: 40px;
    margin-left: 25px;
    width: 85%;
}
.box1{
    display: flex;
}
.number{
    color: grey;
    font-size: 12px;
    margin-left: 25px;
    margin-top: 10px;
}
.number1{
    color: rgb(126, 123, 123);
    font-size: 12px;
    margin-top: 10px;
    margin-left: 58%;
}
.box2{
    display: flex;
}
#icon1{
    color: #B6B6B6;
    font-size: 21px;
    margin-left: 13%;
}
#icon2{
    color: #B6B6B6;
    font-size: 23px;
    margin-left: 10%;
}
#icon3{
    color: #949494;
    font-size: 45px;
    margin-left: 10%;
    margin-top: 10px;
}

.music{
    color:#6e6b6b ;
    font-family:sans-serif;
    margin-left: 25px;
    margin-top: 35px;
}
.play-time{
    color:#6e6b6b ;
    margin-top: 35px;
    margin-left: 60%;
}

#dot{
    color: rgb(52, 187, 45);
    font-size: 5px;
    margin-top: 44px;
}
.play-time1{
    color:black;
    margin-top: 40px;
    margin-left: 6px;
}
.play-time2{
    color:black;
    margin-top: 40px;
    margin-left: 4%; 
}
.music1{
    color:#6e6b6b ;
    font-family:sans-serif;
    margin-left: 25px;
    margin-top: 40px;
}
.play-time3{
    color:#6e6b6b ;
    margin-left: 43%;
    margin-top: 40px;
}

.music2{
    color:#6e6b6b ;
    font-family:sans-serif;
    margin-left: 25px;
    margin-top: 40px;
}
.play-time4{
    color:#6e6b6b ;
    margin-top: 40px; 
    margin-left: 58.5%;
}